body {
    display: flex;
    background-color:antiquewhite;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


header {
    display:flex;
    flex: 0 0 100%;
    color: whitesmoke;
    background-color: grey;
    padding: 2%;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

h1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 0 20%;
    margin: 0% ;
    align-self: center;
    font-size: 200%;
    color:black;
    background-color: rgb(92, 88, 88);
    padding: 10px;
}

header img {
    flex-flow: row wrap;
    align-self: right;
    height: 100%;
    width: 30%;
    border-radius: 2%;
    box-shadow: 10px 10px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 60%;
    flex-direction: row;
}

li {
    list-style-type: none;
    margin: 0 5px;
}

nav a {
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
}


aside {
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 15%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 5%;
}

#about-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 0 100%;
    justify-content: flex-start;

}

#about-me  p {
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 0 70%;
    text-size: 20px;
    border-left: 2px;
    padding-left: 10px;
    border-color: black;
    border-left-style: solid;
    align-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 0 50%;
    border-left: 2px;
    padding-left: 30px;
    border-color: black;
    border-left-style: solid;
    align-self: center;
}

article img {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border: 2px solid #000;
    justify-content: center;
}



#main-image {
    flex: 0 0 75%;
    width: 895px;
    height: 400px;
    flex-direction: row;
}

.small-image {
    flex: 0 0 45%;
    width: 405px;
    height: 300px;
    align-self: center;
}

footer {display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}


footer ul {
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 60%;
    border-left: 2px solid #000;
    justify-content: center;
    justify-content: space-between;
}

footer li {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 5%;
}

@media screen and (max-width 926px){
    h1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 0 0 20%;
        margin: 0% ;
        align-self: center;
        font-size: 200%;
        color:black;
        background-color: rgb(92, 88, 88);
        padding: 10px;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 60%;
        flex-direction: row;
    }

    aside {
        display: flex;
        flex-flow: row wrap;
        flex: 0 0 15%;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 5%;
    }
    
    
    article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 0 0 50%;
        border-left: 2px;
        padding-left: 30px;
        border-color: black;
        border-left-style: solid;
        align-self: center;
    }

    #main-image {
        flex: 0 0 75%;
        width: 895px;
        height: 400px;
        flex-direction: row;
    }

   .small-image {
    flex: 0 0 45%;
    width: 405px;
    height: 300px;
    align-self: center;
}

footer ul {
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 60%;
    border-left: 2px solid #000;
    justify-content: center;
    justify-content: space-between;
}
}

@media screen and (max-width 768){
    h1 {
        width: 100%;
    }

    nav ul {
        width: 100%;
    }

    aside {
        width: 100%;

    #work {
        width: 100%;
    }
    
    article {
        width: 100%;
    }

    #main-image {
        width: 100%;
    }

   .small-image {
    width: 100%;
    }

footer ul {
    width: 100%;
    }
}
