body {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}


header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    background-color: grey;
    padding: 2%;
    flex-wrap: wrap;
}

h1 {
    margin: 0% ;
    align-self: flex-start;
    font-size: 200%;
    color: rgb(102, 110, 212);
    background-color: rgb(92, 88, 88);
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 350px;
    list-style-type: none;
}

nav a {
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
}

aside {
    display: inline;
    margin: 2%;
    width: 25%;
}

h2 {
    border: 10% 25% 10% 0% ;
    border-color: black;
    border-right-style: solid;
}

#main-image {
    width: 75%;
    height: 50%;
    align-self: center;
}

.small-image {
    width: 33%;
    height: 50%;
    align-self: center;
}

#about-me {
    display: inline-flex;
}

#about-me  p {
    flex-wrap: wrap;
    text-size: 20px;
    align-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#work {
    display: inline-flex;
    flex-wrap: wrap;
}

img {
    align-self: center;
}
